fastapi
uvicorn[standard]
mysql-connector-python
redis
httpx
pandas>=2.2.0
pandas-ta-classic
PyJWT
python-dotenv
pydantic
websockets
feedparser==6.0.11
deep-translator==1.11.4
python-multipart==0.0.9
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
firebase-admin==6.5.0
google-auth==2.29.0
